* { margin, padding: 0; }

body {
  background: #474747 url(../img/bg.png);
}

h1 a {
  display: block;
  text-decoration: none;
  font: 4em Helvetica, Arial, Sans-Serif;  
  text-align: center;
  color: #999; 
  text-shadow: 0px 3px 8px #2a2a2a;
  padding-top: 5%;
}

h2 {
  font: 3em Helvetica, Arial, Sans-Serif;
  text-align: center;
  margin-top: -0.2em;
  margin-bottom: 1.5em;
  color: #222;
  text-shadow: 0px 2px 3px #555;
}

pre {
  width: 14em;
  background: #222;
  margin: auto;
  padding: 0.75em;
  font-size: 2em;
  color: #555;
  text-shadow: 0px 2px 3px #171717;
  text-align: center;
  -webkit-box-shadow: 0px 2px 3px #555;
  -moz-box-shadow: 0px 2px 3px #555;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

}

img {
  position: absolute;
  top: 0; 
  right: 0; 
  border: 0;
}
