!!! 5
html(lang="en")
  include head
  body
    div#container
      include header
      section#cover
        article
          p#portrait
            a(href="http://www.flickr.com/photos/michaelnisi/sets/72157626923470332/")
              img(src="/img/michael.jpg")
          !{content}
    include footer
    include scripts
